In [60]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [61]:
drivers_df = pd.read_csv('data/drivers.csv')
constructors_df = pd.read_csv('data/constructors.csv')
races_df = pd.read_csv('data/races.csv')
results_df = pd.read_csv('data/results.csv')
status_df = pd.read_csv('data/status.csv')

In [62]:
results_df = results_df.merge(races_df[['raceId', 'date']], on='raceId')
results_df = results_df.merge(status_df, on='statusId')

In [69]:
results_df = results_df.sort_values(by='date')
results_df['date'] = pd.to_datetime(results_df['date'])
results_df = results_df.sort_values(by='date')

drop_cols = ['resultId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed']

df = results_df[results_df.date.dt.year > 2011].drop(columns=drop_cols)
# df[df.constructorId == 6].value_counts()
df[df.constructorId == 6].groupby('status').count()

                  raceId  driverId  constructorId  statusId  date
status
+1 Lap                29        29             29        29    29
Accident              10        10             10        10    10
Battery                1         1              1         1     1
Brake duct             1         1              1         1     1
Brakes                 2         2              2         2     2
Collision             16        16             16        16    16
Collision damage       4         4              4         4     4
Driveshaft             1         1              1         1     1
Electronics            2         2              2         2     2
Engine                 3         3              3         3     3
Finished             355       355            355       355   355
Hydraulics             1         1              1         1     1
Power Unit             3         3              3         3     3
Power loss             2         2              2         2     2
Spark plugs            1         1              1         1     1
Spun off               2         2              2         2     2
Suspension             1         1              1         1     1
Turbo                  2         2              2         2     2
Tyre                   2         2              2         2     2
Water pressure         1         1              1         1     1
Wheel                  3         3              3         3     3

In [59]:
df.dtypes

raceId                    int64
driverId                  int64
constructorId             int64
statusId                  int64
date             datetime64[ns]
dtype: object

In [51]:
results_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'date'],
      dtype='object')

In [1]:
# drivers_df[drivers_df.nationality == 'South African'].sort_values(by='dob')